body{
    background: linear-gradient(rgb(1, 81, 242) 0% , rgb(31, 219, 200) 100% );
}

.heading{
    width:80%;
    font-size:22px;
}

#camera{
    border:2px dashed black;
    width:350px;
    height:300px;
}